# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.Python

# Node
node_modules/
npm-debug.log*
package-lock.json

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Secrets
.env

# Build output
dist/
build/

# OneDrive temp
~$*
